.quantity-controls {
  .btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cart-item {
  transition: transform 0.2s ease;

  &:hover {
    transform: translateX(5px);
  }
}
